* {
    margin: 0%;
}

form>div {
    float: left;
}

#div1 {
    background-color: #f2f2f2;
    width: 76%;
    margin-top: 12px;
    margin-left: 12px;
    border-radius: 1%;
    border: solid #dfdfdf;

}

#address>section {
    float: left;

}
#section1>section{
    float: left;
}

div>div {
    width: 50%;
    margin-left: 20px;

}

#section1 {
    float: right;
    width: 50%;
    margin-top: 5px;
}

input[type=text],
input[type=month],
input[type=date],
input[type=number] {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 91%;
    padding: 5px;

}

input[type=checkbox] {
    display: inline-block;
}

h2 {
    padding-top: 25px;
    padding-bottom: 25px;
}
ul{
    list-style-type: none;
}
#zip {
    display: inline;
    margin-left: 85px;
    width: 86%;

}

#state {
    display: inline;
    width: 124%;
}

#cvvl {
    display: block;
    margin-left: 155px;

}

#yearl {

    display: block;
}

#cvv {
    width: 69%;
    display: inline;
    margin-left: 151px;
}

#year {
    width: 186%;
    display: inline;
}

#statel {
    display: block;
    width: 40%;
}

#zipl {
    display: block;
    width: 40%;
    margin-left: 85px;

}

#div2 {

    width: 20%;
    background-color: #f2f2f2;
    margin-top: 12px;
    /* margin-right: 12px; */
    /* border-radius: 1%; */
    border: solid #dfdfdf;
    margin-left: 25px;
}

#section2 {
    float: left;
  margin-top: 16px;
  margin-bottom: 5px;
  margin-left: 17px;
  
}


#section3 {
    float: right;
    margin-top: 16px;
    margin-right: 12px;
}
#namecard{

    display: block;
    margin-top: 21px;
    
}
#cards{
    display: block;
    margin-top:11px;
}
#a1 , #a2 , #a3 , #a4{
    display: block;
}
#submit{
    display: block;
    margin: auto;
    width: 97%;
   
    padding: 5px;
    margin-bottom: 25px;
    margin-top: 10px;
    background-color: #04aa6d;
    border-color: #00a564;
    color: white;
    border-radius: 3px;
}
#checkbox{
padding: 5px;
}
#address>div{
    clear: left;
    margin: 0px;
}
li{
    padding: 10px;

    
}
hr{
    clear: left;
}

.prices{
    color: #9c9c9c;
}

.total-price{
    float: right;
}
